/*
body {
	background-color: #302F2F;
	background: linear-gradient(-45deg, #EE7752, #331C71, #23A6D5, #23D5AB);
	animation: gradient-animation 4s ease infinite;
	font-family: 'Alegreya', sans-serif;
}
*/
body {
	font-family: 'Alegreya', sans-serif;
	width: 100wh;
	height: 90vh;
	color: #fff;
	 background-image: linear-gradient(to left top, #4d126d, #4c227c, #482f8b, #423c9a, #3948a8, #2c5ab7, #1b6ac4, #007bd0, #0093d9, #00a9d8, #00bccf, #21cdc2);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	overflow: hidden;
}


main{
	width: 400px;
	max-width: 100%;
	margin-left: 20%;
	margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  main {
    margin-left: 0px;
  }
}

.title{
	position: relative;
	font-size: 22px;
	color: #FFFFFF;
	cursor: pointer;
}


.title:before,
.title:after {
  content: '';
  border-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  transition: all 0.5s ease;
}
.title:before {
  border-top: 1px solid;
  border-left: 1px solid;
  top: -5px;
  left: -10px;
}
.title:after {
  border-bottom: 1px solid;
  border-right: 1px solid;
  top:20px;
  left: 300px;
}

.about-active:after{
	transform: translate(0px, 160px);
}



.project-active:after{
	transform: translate(0px, 160px);
}



.dropdown{
	position: relative;
	background-color: #FFFFFF55;
	transition: all 0.5s ease;
	color: white;
	height: 0px;
	width: 300px;
	overflow: hidden;
	font-size: 13px;
}

a
{	color: white;
}

.dropdown i {
	margin: 10px;
	transition: all 0.3s ease;
	cursor: pointer;
}

#about_content.dropdown i:hover{
	border-bottom: 1px solid black;
}



.opened{
	height: 150px;
}

@media only screen and (max-width: 600px) {
  .opened {
    height: 200px;
  }
}

.largeicon{
	font: 100px;
}

#project_title{
	top: 30px;
}


#project_content div{
	position: absolute;
	width: 47px;
	height: 47px;
	padding: 10px;
}

#project_content img{
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 10px;
}

#project_content.dropdown img:hover{
	box-shadow: 0 0 5px #FFFFFF;
}



@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#tooltip{
	position:absolute;
	top: 500px;
	width: 300px;
	height: 0px;
	background-color: #00000099;
	transition: all 0.2s ease;
}




footer {
	position: absolute;
	color: white;
	bottom: 5px;
}
